*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: rgb(1, 1, 12);
    display: flex;
    justify-content: center;
    align-items: center;
}


.Post{
    margin-top: 10px;
    border: 1px solid rgb(24, 23, 23);
    height: 500px;
    width: 50vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Header{
    color: white;
    height: 20%;
    background: rgb(26, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Header--Page-Data{
    width: 100%;
    height: 45%;
    display: flex;
}

.Page-Data--Profile-Picture{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Page-Data--Profile-Picture img{
    object-fit: fill;
    width: 35px;
    height: 100%;
    border-radius: 50%;
}

.Page-Data--Main-Info{
    width: 80%;
}
.Main-Info--Up, .Main-Info--Down{
    width: 100%;
    height: 50%;
}

.Up--Page-Name{
    display: flex;
    align-items: center;
    width: 100%;
}

.Up--Page-Name p:nth-child(1){
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}


.Up--Page-Name p:nth-child(2){
    margin-left: 10px;
    font-weight: 700;
    font-size: 15px;
    color: rgb(0, 68, 255);
}

.Down--Date{
    margin-top: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Down--Date p{
    margin-right: 10px;
    font-size: 12px;
    margin-left: 10px;
}

.Page-Data--Options{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: pointer;
}

.Header--Description{
    padding: 1px;
    margin: 10px 0;
    width: 95%;
    overflow: hidden;
}

.Header--Description p{
    text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 500;
}


.Video{
    height: 70%;
}

.Interactions{
    width: 100%;
    height: 10%;
    background: rgb(26, 25, 25) ;
    display: flex;
}

.Interactions--Actions, .Interactions--Counter{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Interactions--Actions p{
    font-size: 12px;
    font-weight: 700;
}

.Actions--Likes, .Actions--Comments, .Actions--Shares{
    padding:5px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: .5s;
}

.Actions--Likes p, .Actions--Comments p, .Actions--Shares p{
    margin-left: 10px;
}


.Actions--Likes:hover, .Actions--Comments:hover, .Actions--Shares:hover{
    transition: .5s;
    cursor: pointer;
    background: rgb(68, 65, 65);
}

.Counter--Likes, .Counter--Comments, .Counter--Shares{
    display: flex;
    cursor: pointer;
}

.Counter--Likes p{
    margin-left: 5px;
}

.Counter--Likes p, .Counter--Comments p, .Counter--Shares p{
    display: flex;
    font-size: 12px;

}

@media (max-width: 1292px) {
    .Post{
        width: 70vw;
    }

}

@media (max-width:1000px){
    .Post{
        width: 90vw;
    }
}

@media (max-width: 750px) {
    .Post{
        width: 100VW;
    }
    .Header--Page-Data{
        width: 99%;
    }
    .Interactions{
        flex-direction: column;
    }

    .Interactions--Actions{
        width: 100%;
    }

    .Interactions--Counter{
        width: 100%;
    }
}