*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: rgb(1, 1, 12);
    display: flex;
    justify-content: center;
    align-items: center;
}




