.Post{
    margin-top: 10px;
    border: 1px solid rgb(24, 23, 23);
    height: 500px;
    width: 50vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


@media (max-width: 1292px) {
    .Post{
        width: 70vw;
    }
}

@media (max-width:1000px){
    .Post{
        width: 90vw;
    }
}

@media (max-width: 750px) {
    .Post{
        width: 100VW;
    }
}
